{% extends 'base.html.twig' %}

{% block title %}HomeController{% endblock %}
{% block meta %}Discover PHOTOCLUB, your site for our events and community{% endblock %}

{% block body %}

  <section class="home section" id="home">
    <div class="home__container container grid">
      <h1 class="home__name">PHOTOCLUB</h1>
      <div class="home__perfil">
        <div class="home__image">
          <img
            src="{{asset('/img/general/image01.png')}}" 
            alt="image 01 home"
            class="home__img"
          />
          <div class="home__shadow"></div>

          <img src="{{asset('img/logo.png') }}"
            alt=""
            class="home__line"
          />

          <div class="geometric-box"></div>
        </div>

        <div class="home__social">
          <a
            href="https://instagram.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-instagram-line"></i
          ></a>
          <a
            href="https://linkedin.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-linkedin-box-line"></i>
          </a>
          <a
            href="https://github.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-github-line"></i
          ></a>
        </div>
      </div>

      <div class="home__info">
       
        <br>
        <p class="home__description">
            Live with  <b>Photoclub</b> <br>
            Show your photos <br> 
            Improve your knowledge <br>
            Communicate with the passionate people <br>
        </p>

        <a href="#about" class="home__scroll">
          <div class="home__scroll-box">
            <i class="ri-arrow-down-s-line"></i>
          </div>
          <span class="home__scroll-text">Scroll Down</span>
        </a>
      </div>
    </div>
  </section>

        <!-- ABOUT -->

  <section class="about section" id="about">
            <div class="about__container container grid">
              <h2 class="section__title-1"><span>About us</span></h2>
              <div class="about__perfil">
                <div class="about__image">
                  <img
                    src="{{asset('/img/general/about_us.webp')}}"
                    alt="image"
                    class="about__img"
                  />
                  <div class="about__shadow"></div>
                  <div class="geometric-box"></div>
                  <img
                    src="{{asset('/img/logo.png')}}"
                    alt=""
                    class="about__line"
                  />
                  <div class="about__box"></div>
                </div>
              </div>
              <div class="about__info">
                <p class="about__description">
                  Passionate about <b>photos</b> with
                  <b>spécial effects or without them</b>, Photoclub is the the comunity of amateurs, professional photographers and curious people liking to show and looking their works and learning the news about the photographie together .
                </p>
    
                <ul class="about__list">
                  <li class="about__item">
                    <b>Our activities:</b> Expositions, Discussions, Meetings, Opinion's exchange.
                  </li>
                </ul>
                <div class="geometric-box"></div>

                <div class="about__buttons">
                  <a href="{{ path('app_contact')}}" class="button">
                    <i class="ri-send-plane-line"></i> Contact Us
                  </a>

                  {# <a
                    href="{{ asset('img/logo.png') }}"
                    target="_blank"
                    class="button__ghost"
                  >
                  </a> #}
                </div>
              </div>
            </div>
  </section>


  <!-- ARTICLES-->

  <section class="articles section" id="articles">
            <h2 class="section__title-2">
            <span>Our articles</span>
            </h2>

            <div class="articles__container container grid">
            <article class="articles__card">
                <div class="articles__border"></div>
                <div class="articles__content">
                <div class="articles__icon">
                    <div class="articles__box"></div>
                    <i class="ri-layout-4-line"></i>
                </div>
                <h2 class="articles__title">Do you know what is Photography ?</h2>
                <p class="articles__description">
                    <br>
                    <em>Photography  </em> <small>  is the art, application, and practice of creating images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. <br>
                       It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication </small></p>
                <p id="name-categ">From free Wikipedia</p>
                </p>
                </div>
            </article>

            <article class="articles__card">
                <div class="articles__border"></div>

                <div class="articles__content">
                <div class="articles__icon">
                    <div class="articles__box"></div>
                    <i class="ri-code-box-line"></i>
                </div>
                <h2 class="articles__title">Development</h2>

                <p class="articles__description">
                    Custom web development tailored to your specifications, designed
                    to provide a flawless user experience.
                </p>
                </div>
            </article>
            <article class="articles__card">
                <div class="articles__border"></div>

                <div class="articles__content">
                <div class="articles__icon">
                    <div class="articles__box"></div>
                    <i class="ri-smartphone-line"></i>
                </div>
                <h2 class="articles__title">Mobile App</h2>

                <p class="articles__description">
                    Design and transform website projects into mobile Apps to
                    provide a seamless user experience.
                </p>
                </div>
            </article>
            </div>
  </section>

{# --CAROUSEL-- #}

  <section id="carousel">

      <div id="top">
          <h4><span class="accent-color"> PHOTOCLUB CAROUSEL >></span>
          </h4>
          <p id="quote-text" class="scroll-reveal">Welcome <span class="accent-color">and</span> amuse with us ! 
          </p>
      </div>

      <div id="content">

          <div class="image">
              <figure>
                  <img src="{{asset('/img/activity/archived/banner/carousel1.webp')}}" alt=" "></a>
              </figure>
              <div class="infos">
                  <div>
                      <p>01.10.2024 - </p> <br>
                     
                  </div>
                  <h4>PHOTOART</h4>
                  <span style="color:transparent;">aaaaaaaaaaaaa</span></h4>
                 {#  <a href="{{ path('show_event', { slug : 'photoart'  }) }}"><button>See more</button></a>  #}
              </div>
          </div>

          <div class="image">
              <figure>
                  <img src="{{asset('/img/activity/archived/banner/carousel2.webp')}}" alt=" "></a>
              </figure>
              <div class="infos">
                  <div>
                      <p>25.10.2024</p>
                    
                  </div>
                  <h4>WORKSHOP01
                  <span style="color:transparent;">aaaaaaaaaaaaa</span></h4>
               {#    <a href="{{ path('show_workshop', { slug : 'workshop01'  }) }}"><button>See more</button></a> #}
              </div>
          </div>

          <div class="image">
              <figure>
                  <img src="{{asset('/img/activity/archived/banner/carousel3.webp')}}" alt=" "></a>
              </figure>
              <div class="infos">
                  <div>
                      <p>15.09.2024</p>
                    
                  </div>
                  <h4>EXPO 01
                  <span style="color:transparent;">aaaaaaaaaaaaa</span></h4>
                  {#  <a href="{{ path('show_exposition', { slug : 'expo01'  }) }}"><button>See more</button></a> #}
              </div>
          </div>
      </div>
  </section>

{# --QUOTE-- #}    

<section id="quote-artist">
  <div style="display:none;"></div>
  <div  id="wrapper" class="quote-content">

      <div>
          <div><i class="ri-heart-line"></i></div>

           <div class="quote">
              <p  id="name-categ"><b>Do you know what is Photography ? </b></p> <br>
                  <br>
                  <p><em>Photography  </em> <small>  is the art, application, and practice of creating images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. <br>
                     It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication </small></p>
              <p id="name-categ">From free Wikipedia</p>
          </div>

      </div>

      <div style="display:none;">
          <div><i class="ri-heart-line"></i></div>

          <div class="quote">
              <blockquote>
                  <p id="name-categ"><b>Do you know the relations between the law and Photography ? </b></p>
                  <br>
                  <p> <em>Photography</em> <small> is both restricted and protected by the law in many jurisdictions. Protection of photographs is typically achieved through the granting of copyright or moral rights to the photographer. <br>
                     In the United States, photography is protected as a First Amendment right and anyone is free to photograph anything seen in public spaces as long as it is in plain view. <br>
                     In the UK, a recent law (Counter-Terrorism Act 2008) increases the power of the police to prevent people, even press photographers, from taking pictures in public places. <br>
                     In South Africa, any person may photograph any other person, without their permission, in public spaces and the only specific restriction placed on what may not be photographed by government is related to anything classed as national security. <br>
                     Each country has different laws. </small></p>   
                  <p id="name-categ">From free Wikipedia </p>
              </blockquote>
          </div>
      </div>
      

      <div style="display:none;">
          <div><i class="ri-heart-line"></i></div>

          <div class="quote">
            <blockquote>

                  <p>"In photography there is a reality so subtle that it becomes more real than reality."</p>
                  <p id="name-categ">Alfred Stieglitz - american photographer </p>
                  <br>
                  <p>"It is an illusion that photos are made with the camera… They are made with the eye, heart, and head."
                  </p>
                  <p id="name-categ">Henri Cartier-Bresson - french photographer</p
                  <br>
                  <p>"When words become unclear, I shall focus with photographs."</p>
                  <p id="name-categ">Ansel Adams - american photographer </p>

            </blockquote>
          </div>
      </div>
  </div>

  <div id="dots" class="dot-content">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
  </div>
  
  <div id="pattern"></div>
</section>

{# --Photographers-- #}  


<section id="calendar">

  <div id="right">
      <div>
          <p>Discover new <span>talents</span> within our community</p>

          <p>Take part in the life of our PHOTOCLUB! Everybody finds sommething interesting here.</p>

          <p> See our gallery of photographers !</p>

          <a href="{{ path('app_photographer')}}"><button>SEE MORE</button></a>
          
      </div>
  </div>

  <div id="left">
      <figure>
          <img src="{{asset('/img/general/expo.webp')}}" alt=" expo image">
      </figure>
  </div>

</section>

{# --CALENDAR-- #}  


<section id="calendar">

  <div id="left">
      <figure>
          <img src="{{asset('/img/general/schedule.webp')}}" alt=" take part image">
      </figure>
  </div>

  <div id="right">
      <div>
          <p>Let's meet you and have a <span>creative</span> time together</p>

          <p>Take part in the life of our PHOTOCLUB! Everybody finds something interesting there.</p>

          <p>See our shedule !</p>

          <a href="{{ path('app_schedule')}}"><button>SEE MORE</button></a>
          
      </div>
  </div>
</section>


  {# JQUERY ANIMATION #}
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="{{ asset('js/main.js') }}"></script>
  <script src="{{ asset('js/scrollreveal.min..js') }}"></script>
  <script src="{{ asset('js/gwl.js') }}"></script> 


  <script>

  function isElementInViewport(el) {
      const rect = el.getBoundingClientRect();
      return rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight);
  }

  function changeColorsOnScroll() {
      var accentTexts = document.querySelectorAll('.accent-text');
  
      // Parcourir tous les éléments avec la classe 'accent-text'
      accentTexts.forEach(function(accentText, index) {
          // Vérifier si l'élément est dans la vue de la fenêtre du navigateur
          if (isElementInViewport(accentText)) {
              // Changer la couleur du premier élément
              if (index === 0) {
                  gsap.to(accentText, { color: '#53d5db',  delay: 0.2 }); // Couleur + durée de l'animation
              } else {
                  // Changer la couleur du deuxième élément après un délai
                  gsap.to(accentText, { color: '#53d5db', delay: 0.5, ease: "ease", duration: 2 });  // couleur +  durée de l'animation et délai
              }
          } else {
              // L'élément n'est pas dans la vue, rétablir sa couleur par défaut
              accentText.style.color = ''; 
          }
      });
  }
  window.addEventListener('scroll', changeColorsOnScroll);

      const quoteText = document.getElementById('quote-text');
      

      function revealText(element) {
          $('#quote-text').css('visibility', 'visible');
          quoteText.innerHTML = quoteText.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
          const letters = quoteText.querySelectorAll('.letter');
          // Animate each letter of the text
          gsap.from(letters, {
                  opacity: 0,
                  y: 20,
                  duration: 1,
                  stagger: 0.02, // Interval between each letter animation
                  delay: 2, // Delay the animation by 0.5 seconds
                  color :"#207E93",
          });
      }
      
      function revealOnScroll() {
         
          var scrollRevealElements = document.querySelectorAll('.scroll-reveal');
          scrollRevealElements.forEach(function(element) {
              if (isElementInViewport(element)) {
                  revealText(element);
                  // Once the text is revealed, remove the class to prevent revealing it again
                  element.classList.remove('scroll-reveal');
              }
          });
      }
      
      window.addEventListener('scroll', revealOnScroll);

      // show the differents quotes

      $(document).ready(function() {
          // Initialisation
          $(".quote-content > div").first().show();
          $(".dot-content > div").first().addClass("active");
      
          // Gestion du clic sur les dots
          $(".dot").click(function() {
              var index = $(this).index();
      
              // Affichage du contenu correspondant
              $(".quote-content > div").hide().eq(index).show();
      
              // Changement du style des dots
              $(this).addClass("active").siblings().removeClass("active");
          });
      });

    


</script>
{% endblock %}